<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebApp</title>
    <link rel="stylesheet" href="/general.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/dashboard.css">
  </head>
  
  <body>
    <!-- Header -->
    <%- include("includes/header") %>
    <main>
      <div class="dashboard-div">
      <!---->
      <% errors.forEach(error => { %>
        <p class="notice"><%= errors %></p>
      <% }) %>
      <!---->
      <form class="change-password-form" action="/change-password" method="POST">
        <input class="change-password-input" id="newpasswort" name="newpassword" placeholder="Neues Passwort...">
        <input class="change-password-input" id="newpasswortcheck" name="newpasswordcheck" placeholder="Neues Passwort erneut eingeben...">
        <button class="dashboard-buttons">Passwort ändern</button>
      </form>
    </main>
    <!-- Footer -->
    <%- include("includes/footer") %>
  </body>
</html>