<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebApp</title>
    <link rel="stylesheet" href="/general.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/dashboard.css">
  </head>
  
  <body>
    <!-- Header -->
    <%- include("includes/header") %>
    <main>
      <div class="security-info-div">
        <div>
          <p class="security-info">Diese Website hat einige Sicherheitslücken. Wenn Sie auf Nummer sicher gehen wollen, dann laden Sie ab und zu die Datei "ourApp.db", das "/pictures/logo/logo.png" und alle Bilder aus dem Ordner "/pictures/articles/" vom Server herunter und speichern Sie sie ab.</p>
          <br>
          <p class="security-info">Falls die Website gehackt wird (erkennbar durch z.B. keinen Zugriff mehr auf Ihren Account, Blogartikel werden einfach gelöscht oder hinzugefügt, etc.), dann löschen Sie den gesamten Server und setzen ihn neu auf mit dem ursprünglichen Blogtemplate (wie beim ersten Mal aufsetzen) und löschen Sie die Dateien auf dem Server "ourApp.db-shm", "ourApp.db-wal", "ourApp.db" und "/pictures/logo/logo.png". Anschliessend laden Sie Ihre neusten heruntergeladenen Versionen der oben genannten Dateien am jeweils gleichen Ort, wo Sie sie heruntergeladen haben, wieder hoch.</p>
        </div>
      </div>
    </main>
    <!-- Footer -->
    <%- include("includes/footer") %>
  </body>
</html>