/* Header */

.article-button,
.articlewish-button,
.contact-button {
  background-color: rgb(241, 240, 228);

  color: black;
}

/* Seite herunterschieben */

body {
  padding-top: 50px;
}

/* Login/Registrieren Buttons */

.account-button-div {
  text-align: center;
}

.account-buttons {
  padding: 7px 10px;

  background-color: rgb(62, 63, 41);

  align-self: center;

  font-size: 15px;
  color: white;

  border: none;
  border-radius: 8px;
  
  cursor: pointer;
  transition: opacity 0.2s;
}
.account-buttons:hover {
  opacity: 0.8;
}
.account-buttons:active {
  opacity: 0.6;
}

/* Registrieren/Login Seiten */

.register-div,
.login-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form,
.register-form {
  height: 150px;
  width: 500px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: -20px;
  padding-right: -20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  border: solid;
  border-width: 3px;
  border-radius: 20px;
}

.register-form {
  height: 200px;
}

.account-input {
  width: 300px;
  padding: 5px 2px;
  margin-top: 15px;

  font-size: 17px;

  border: solid;
  border-width: 3px;
  border-color: rgb(62, 63, 41);
  border-radius: 7px;
}

.send-button {
  padding: 8px 12px;
  margin-top: 15px;
  margin-bottom: -6px;

  background-color: rgb(62, 63, 41);

  font-size: 17px;
  color: white;
  
  border: none;
  border-radius: 50px;
  
  transition: opacity 0.2s;
}
.send-button:hover {
  opacity: 0.7;
}

.login-register-legend {
  margin-top: -47px;

  font-size: 21px;
  font-weight: bold;
  
  background-color: rgb(241, 240, 228);
}

/* Errormeldung */

.notice {
  margin-top: -10px;
  padding: 5px 5px;

  background-color: rgba(188, 168, 141, 0.3);

  text-align: center;

  border-radius: 6px;
}

/* Bildschirmanpassung */

@media (max-width: 370px) {
  .account-buttons {
    margin-top: 10px;
  }
}

@media (max-width: 535px) {
  .login-form,
  .register-form {
    width: 400px;
  }
}

@media (max-width: 425px) {
  .login-form,
  .register-form {
    width: 340px;
  }
}